name: Directory Listings

on:
  push:

jobs:
  dir_listings:
    runs-on: ubuntu-latest
    steps:
    - name: clone main
      uses: actions/checkout@v5
      with:
        ref: main
    - name: clone auto-minutes
      uses: actions/checkout@v5
      with:
        repository: ietf-minutes/ietf-minutes-data
        path: auto-minutes
        ref: cache
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.12
    - name: Create directory listings
      run: |
        python3 lib/dir_listing.py .
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - name: Install doctoc
      run: num install -g doctoc
    - name: doctoc summaries
      run: find . -name summary.md -exec doctoc {} \;
    - name: Push update
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sh lib/update.sh
